<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssured Test Suite" verbose="1">
    <parameter name="baseUrl" value="https://zeus-uat.paytr.com"/>
    <test name="API Tests">
        <classes>
            <class name="com.example.tests.ApiTest"/>
            <class name="com.example.tests.UserApiTest"/>
        </classes>
    </test>
    
    <test name="PayTR UAT Tests">
        <classes>
            <class name="com.example.tests.PayTRUATTest"/>
        </classes>
    </test>
    
    <test name="PayTR UI Elements Tests">
        <classes>
            <class name="com.example.tests.PayTRUIElementsTest"/>
        </classes>
    </test>
</suite>